.hero {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: 1% 80%;
}

h2 {
    position: absolute;
    bottom: 30px;
    right: 0;
    color: var(--BoxWord);
    background-color: var(--WordBox);
    float: right;
    margin-top: 130px;
    margin-right: var(--Space);
    padding: 0 10px;
}

.selfie {
    margin-top: 10px;
    margin-left:40px;
    width: 145px;
}