body {
    background-color: rgb(217, 221, 226);
}

header{
    position: relative;
    height: 75px;
    background-color: var(--HFBG);
    align-items: center;
    padding: 10px;
}

header h1{
    display: inline-block;
    background-color: var(--WordBox);
    color: var(--BoxWord);
    padding: 0 10px;
}

/* all hero and works images style */
img{
    border-color: var(--WordBox);
    border-style: solid;
    border-width: 5px;
    display: inline-block;
}

footer{
    background-color: var(--HFBG);
    text-align: center;
}

footer h4{
    color: var(--WordBox);
    padding: 4px 0;
}


/* media screen size configurations*/
@media screen and (min-width: 270px) {
    /* content class is the rendered Section in app.js*/
    .content{
        margin: var(--SmallSpace);
        min-height: calc(100dvh - (275px + 56px));
    }
    .content h3{
        margin-bottom: var(--SmallSpace);
    }
    .smTagFloat{
        margin-top: var(--SmallSpace);
    }
    .article, .lgTagFloat, .smTagFloat, .row{
        margin-left: var(--SmallSpace);
    }
    .desktop{
        display: none;
    }
    .nav2 a{
        display: block;
        margin-top: var(--SmallSpace);
        margin-left: var(--SmallSpace);

    }
    .skills{
        flex-direction: column;
    }
}

@media screen and (min-width: 512px) {
    header{
        position: relative;
    }
    .nav{
        position: absolute;
    }
    .content{
        margin: var(--BigSpace);
        min-height: calc(100dvh - (275px + 86px));
    }
    .content h3{
        margin-bottom: var(--BigSpace);
        font-size: 150%;
    }
    .smTagFloat{
        margin-top: var(--BigSpace);
    }
    .article, .lgTagFloat, .smTagFloat{
    margin-left: var(--BigSpace);
    }
}

@media screen and (min-width: 640px){
    header h1{
        font-size: 225%;
    }
    .hero h2{
        font-size: 200%;
    }
    .desktop{
        display: block;
    }
    .mobile{
        pointer-events: none;
    }
    .content h3{
        font-size: 200%;
    }

    .nav2{
        text-align: center;
    }

    .nav2 a{
        display: inline-block;
        vertical-align: bottom;
        text-align: center;
        width: 165px;
        margin: 0 30px;
    }
    .col-25, .col-75, input[type=submit]{
        text-align: center;
    }
    .skills{
        flex-direction: row;
    }
    li{
        padding: 2px;
    }
}

@media screen and (min-width: 900px) {
    .labels h3{
        width: 79%;
    }
    .mobile{
        width: 300px;
    }
}