.nav{
    top: 10px;
    right: 0;
    margin-right: var(--Space);
    align-items: center;
}

.nav-link{
    color: var(--InactiveLink);
    text-decoration: none;
    align-content: center;
    border-bottom-color: var(--InactiveLink);
    border-bottom-style: solid;
    border-width: 3px;
    margin-top: 15px;
    margin-left: 10px;

}

.active{
    color: var(--ActiveLink);
    border-bottom-color: var(--ActiveLink);
    border-bottom-style: solid;
}




.nav2{
    border-left-color: var(--BorderLine);
    border-left-style: solid;
    border-width: 5px;
}

.desktop a{
    /* width: max(75px, 50%); */
    /* height: max(75px, 100%); */
    /* height: 100px; */
    font-size: max(16px, 2vw);
}

.nav2 a{
    color: var(--BoxWord);
    font-size: 110%;
    text-decoration: none;
    padding: 15px 0;
    border-bottom-color: var(--BorderLine);
    border-bottom-style: solid;
    border-width: 5px;
}