main {
    min-height: 100%;    
}

.border-left{
    border-left-color: var(--BorderLine);
    border-left-style: solid;
    border-width: 5px;
}

.content h3, h4{
    border-bottom-color: var(--BorderLine);
    border-bottom-style: solid;
    border-width: 5px;
    color: var(--MainFont);
    padding: 5px 10px;
}

article{
    display: inline-block;
}

.article {
    color: black;
    margin-bottom: 10px;   
}

.WorkContent {
    display: inline-block;
}

/* no longer difference in size */
.lgTagFloat {
    position: relative;
    display: inline-block;
}

.smTagFloat {
    position: relative;
    display: inline-block;
}

.lgTopic {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  
}

.smTopic {
    max-width: 100%;
    height: auto;
    object-fit: cover;
   
}

/* when size is over 640 desktop div shows*/
.desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.desktop a{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    color: var(--InactiveLink);
    text-decoration: none;
    text-align: center;
    padding-top: 10%;
    font-size: max(32px, 4vw);
}

.desktop:hover a{
    display: block;
}

.labels h3{
    font-size: 150%;
    margin-top: 15px;
}

.labels p{
    margin: 10px;
}

.skills{
    display: flex;
    /* justify-content: space-around; */
}

.skill-type{
    display: inline-block;
    margin-left: var(--SmallSpace);
}

ul{
    margin: 10px;
}

